<h1>Welcome  </h1>
<p>Sign in to view and review products</p>


<% if current_user && current_user.admin %>
<p><%= link_to "Create new product", products_path %></p>
<% end %>
<% if @reviewed_product.any? %>
    <h3> Check out our <em>Most Reviewed Product: </em></h3>
    <ul>
      <li><%= link_to @reviewed_product.first.name, product_path(@reviewed_product.first)  %></li>
    </ul>
<% end %>